.navbar, .offcanvas{
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.navbar{
    background-image: url("banner.jpeg");
}

.offcanvas{
    background-image: url("logo.png");
}

.bg-dark {
    --bs-bg-opacity: 0.4 !important;
}

.bg-dark:hover {
    --bs-bg-opacity: 0.8 !important;
}