body{
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("logo.png");
    background-position: center;
    background-size: 60%; /* Ajuste conforme necessário */
    background-repeat: no-repeat;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 1000px;
    height: 100px;
}